USE [master]
GO
/****** Object:  Database [TP4_TAVERA_2A]    Script Date: 7/26/2022 2:20:15 AM ******/
CREATE DATABASE [TP4_TAVERA_2A]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP4_TAVERA_2A', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_TAVERA_2A.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP4_TAVERA_2A_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TP4_TAVERA_2A_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP4_TAVERA_2A].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP4_TAVERA_2A]
GO
/****** Object:  Table [dbo].[areas]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[areas](
	[ID_AREA] [int] NOT NULL,
	[DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_areas] PRIMARY KEY CLUSTERED 
(
	[ID_AREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deportes]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deportes](
	[ID_DEPORTE] [int] NOT NULL,
	[DESCRIPCION] [varchar](25) NOT NULL,
 CONSTRAINT [PK_deportes] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deportivos_equipos]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deportivos_equipos](
	[ID_DEPORTIVO] [int] NOT NULL,
	[ID_EQUIPO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpleadosDeportivos]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpleadosDeportivos](
	[ID_DEPORTIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
 CONSTRAINT [PK_EmpleadosDeportivoss_1] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleadosOperativos]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleadosOperativos](
	[ID_OPERATIVO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[AREA] [int] NOT NULL,
 CONSTRAINT [PK_empleadosOperativos] PRIMARY KEY CLUSTERED 
(
	[ID_OPERATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipos]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos](
	[ID_EQUIPO] [int] NOT NULL,
	[DEPORTE] [int] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[OCUPADO] [int] NOT NULL,
	[MAXIMO] [int] NOT NULL,
 CONSTRAINT [PK_equipos_1] PRIMARY KEY CLUSTERED 
(
	[ID_EQUIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[federados]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[federados](
	[ID_FEDERADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[DEUDA] [int] NOT NULL,
 CONSTRAINT [PK_federadoss_1] PRIMARY KEY CLUSTERED 
(
	[ID_FEDERADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[federados_equipos]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[federados_equipos](
	[ID_FEDERADO] [int] NOT NULL,
	[ID_EQUIPO] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socios]    Script Date: 7/26/2022 2:20:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socios](
	[ID_SOCIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[APELLIDO] [varchar](50) NOT NULL,
	[SEXO] [char](1) NOT NULL,
	[NACIMIENTO] [date] NOT NULL,
	[CATEGORIA] [int] NOT NULL,
	[DEUDA] [int] NOT NULL,
 CONSTRAINT [PK_socioss_1] PRIMARY KEY CLUSTERED 
(
	[ID_SOCIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[areas] ([ID_AREA], [DESCRIPCION]) VALUES (1, N'administrativo')
INSERT [dbo].[areas] ([ID_AREA], [DESCRIPCION]) VALUES (2, N'ordenanza')
GO
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'handball')
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'basket')
INSERT [dbo].[deportes] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'futbol')
GO
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (3, 1)
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (4, 18)
INSERT [dbo].[deportivos_equipos] ([ID_DEPORTIVO], [ID_EQUIPO]) VALUES (6, 7)
GO
SET IDENTITY_INSERT [dbo].[EmpleadosDeportivos] ON 

INSERT [dbo].[EmpleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (1, N'Leila', N'Graje', N'f', CAST(N'1996-05-13' AS Date))
INSERT [dbo].[EmpleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (2, N'Fernando', N'Boja', N'm', CAST(N'1995-07-10' AS Date))
INSERT [dbo].[EmpleadosDeportivos] ([ID_DEPORTIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO]) VALUES (3, N'Megan', N'Methor', N'f', CAST(N'2000-05-22' AS Date))
SET IDENTITY_INSERT [dbo].[EmpleadosDeportivos] OFF
GO
SET IDENTITY_INSERT [dbo].[empleadosOperativos] ON 

INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (1, N'Primo', N'Imsael', N'm', CAST(N'1965-05-05' AS Date), 1)
INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (2, N'Romina', N'Belta', N'f', CAST(N'1980-01-09' AS Date), 1)
INSERT [dbo].[empleadosOperativos] ([ID_OPERATIVO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [AREA]) VALUES (3, N'Miguel', N'Laurente', N'm', CAST(N'1964-06-19' AS Date), 2)
SET IDENTITY_INSERT [dbo].[empleadosOperativos] OFF
GO
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO], [OCUPADO], [MAXIMO]) VALUES (1, 1, 1, N'f', 2, 10)
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO], [OCUPADO], [MAXIMO]) VALUES (2, 1, 2, N'f', 3, 20)
INSERT [dbo].[equipos] ([ID_EQUIPO], [DEPORTE], [CATEGORIA], [SEXO], [OCUPADO], [MAXIMO]) VALUES (3, 1, 3, N'f', 1, 20)
GO
SET IDENTITY_INSERT [dbo].[federados] ON 

INSERT [dbo].[federados] ([ID_FEDERADO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (1, N'Tomas', N'Lucin', N'm', CAST(N'2005-07-20' AS Date), 1, 0)
INSERT [dbo].[federados] ([ID_FEDERADO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (2, N'Felipe', N'Felics', N'm', CAST(N'2000-07-20' AS Date), 1, 0)
INSERT [dbo].[federados] ([ID_FEDERADO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (3, N'Lucia', N'Candia', N'f', CAST(N'2000-09-13' AS Date), 1, 0)
SET IDENTITY_INSERT [dbo].[federados] OFF
GO
INSERT [dbo].[federados_equipos] ([ID_FEDERADO], [ID_EQUIPO]) VALUES (1, 6)
INSERT [dbo].[federados_equipos] ([ID_FEDERADO], [ID_EQUIPO]) VALUES (2, 12)
INSERT [dbo].[federados_equipos] ([ID_FEDERADO], [ID_EQUIPO]) VALUES (2, 10)
GO
SET IDENTITY_INSERT [dbo].[socios] ON 

INSERT [dbo].[socios] ([ID_SOCIO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (1, N'Milagros', N'Vega', N'f', CAST(N'1998-07-02' AS Date), 2, 0)
INSERT [dbo].[socios] ([ID_SOCIO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (2, N'Mauricio', N'Mercado', N'm', CAST(N'1970-04-20' AS Date), 3, 0)
INSERT [dbo].[socios] ([ID_SOCIO], [NOMBRE], [APELLIDO], [SEXO], [NACIMIENTO], [CATEGORIA], [DEUDA]) VALUES (3, N'Rodrigo', N'Noira', N'm', CAST(N'1985-07-20' AS Date), 3, 1500)
SET IDENTITY_INSERT [dbo].[socios] OFF
GO
ALTER TABLE [dbo].[deportivos_equipos]  WITH CHECK ADD  CONSTRAINT [FK_id_deportivo] FOREIGN KEY([ID_DEPORTIVO])
REFERENCES [dbo].[EmpleadosDeportivos] ([ID_DEPORTIVO])
GO
ALTER TABLE [dbo].[deportivos_equipos] CHECK CONSTRAINT [FK_id_deportivo]
GO
ALTER TABLE [dbo].[deportivos_equipos]  WITH CHECK ADD  CONSTRAINT [FK_id_equipo] FOREIGN KEY([ID_EQUIPO])
REFERENCES [dbo].[equipos] ([ID_EQUIPO])
GO
ALTER TABLE [dbo].[deportivos_equipos] CHECK CONSTRAINT [FK_id_equipo]
GO
ALTER TABLE [dbo].[empleadosOperativos]  WITH CHECK ADD  CONSTRAINT [FK_area_operativos] FOREIGN KEY([AREA])
REFERENCES [dbo].[areas] ([ID_AREA])
GO
ALTER TABLE [dbo].[empleadosOperativos] CHECK CONSTRAINT [FK_area_operativos]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_deporte_equipo] FOREIGN KEY([DEPORTE])
REFERENCES [dbo].[deportes] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_deporte_equipo]
GO
ALTER TABLE [dbo].[federados_equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipo_federado_equipo] FOREIGN KEY([ID_EQUIPO])
REFERENCES [dbo].[equipos] ([ID_EQUIPO])
GO
ALTER TABLE [dbo].[federados_equipos] CHECK CONSTRAINT [FK_equipo_federado_equipo]
GO
ALTER TABLE [dbo].[federados_equipos]  WITH CHECK ADD  CONSTRAINT [FK_federado_federado_equipo] FOREIGN KEY([ID_FEDERADO])
REFERENCES [dbo].[federados] ([ID_FEDERADO])
GO
ALTER TABLE [dbo].[federados_equipos] CHECK CONSTRAINT [FK_federado_federado_equipo]
GO
USE [master]
GO
